@import "./../../assets/styles/abstracts/mixins";
#joinOurContainer {
  background-color: #2d3282;

  #joinOur {
    padding: 4.8rem 0rem;
    > div {
      @include flexBox(row, space-between, center);
      gap: 1rem;
      .leftSide {
        h3 {
          color: white;
          font-weight: 500;
          font-size: 2rem;
          line-height: 3rem;
          margin-bottom: 0.8rem;
        }
        span {
          color: #c7d7fe;
          font-weight: 400;
          font-size: 1.6rem;
          line-height: 2.4rem;
        }
      }
      .rightSide {
        display: flex;
        gap: 16px;
        input {
          min-width: 28rem;
          padding: 1rem 1.6rem;
          height: 4.4rem;
          border-radius: 0.8rem;
          border-style: none;
        }
        ::placeholder {
          font-size: 1.6rem;
          line-height: 2.4rem;
          font-weight: 400;
          color: #667085;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #joinOurContainer {
    #joinOur {
      padding: 4rem 0rem;
      > div {
        @include flexBox(column, flex-start, flex-start);
        gap: 3.2rem;
        .leftSide {
          h3 {
            font-weight: 600;
            font-size: 2.4rem;
            line-height: 3.2rem;
          }
        }
        .rightSide {
          flex-direction: column;
          width: 100%;

          input {
          }
        }
      }
    }
  }
}
