#footer {
  background-color: #2d31a6;
  padding: 64px 0px 48px 0px;
  .footer {
    .side {
      display: flex;
      justify-content: space-between;
      .leftSide {
        width: 343px;
        .logoHere {
          padding-bottom: 32px;
          color: white;
        }
        span {
          color: #c7d7fe;
        }
      }
      .rightSide {
        ul {
          display: flex;
          color: white;
        }
        .ulOne {
          padding-bottom: 64px;
          gap: 32px;
        }
        .ulTwo {
          gap: 24px;
        }
      }
    }

    .copyRight {
      border-top: 0.1rem solid #444ce7;
      margin-top: 64px;
      display: flex;
      justify-content: space-between;
      padding-top: 32px;
      color: #a4bcfd;

      ul {
        display: flex;
        gap: 20px;
        justify-content: center;
        // li {
        //   padding-left: 20px;
        // }
      }
    }
  }
}

@media (max-width: 1200px) {
  .footer {
    .side {
      display: flex;

      .rightSide {
        .ulTwo {
          display: flex;
          justify-content: flex-end;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .footer {
    .side {
      flex-direction: column;
      .rightSide {
        padding-top: 25px;
        .ulOne {
          display: flex;
          justify-content: center;

          flex-wrap: wrap;
          line-height: 24px;
          .non {
            display: none;
          }
        }
        .ulTwo {
          display: flex;
          justify-content: center;
        }
      }
    }
    .copyRight {
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 20px;
      p {
        order: 2;
      }
      ul {
        orphans: 1;
      }
    }
  }
}

@media (max-width: 768px) {
  .footer {
    .side {
      flex-direction: column;
    }
  }
}
