@import "./../../assets/styles/abstracts/mixins";
#footerContainer {
  background-color: #2d31a6;
  .footer {
    padding: 6.4rem 0rem 4.8rem 0rem;

    .upFooter {
      @include flexBox(row, space-between, flex-start);
      .leftSide {
        max-width: 36rem;
        > div {
          margin-bottom: 3.2rem;
        }
        > p {
          font-weight: 400;
          font-size: 1.6rem;
          line-height: 2.4rem;
          color: #c7d7fe;
        }
      }

      .rightSide {
        @include flexBox(column, space-between, flex-end);
        gap: 6.4rem;
        .nav {
          ul {
            @include flexBox(row, space-between, center);
            gap: 3.2rem;
            li {
              @include flexBox();
              gap: 0.8rem;
              a {
                color: #c7d7fe;
                font-weight: 600;
                line-height: 2.4rem;
              }
            }
          }
        }
        .socialMediaBox {
          @include flexBox(row, flex-end, flex-start);
          gap: 2.4rem;
        }
      }
    }

    .copyRight {
      border-top: 0.1rem solid #444ce7;
      margin-top: 6.4rem;
      display: flex;
      justify-content: space-between;
      padding-top: 3.2rem;
      color: #a4bcfd;
      > p {
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2.4rem;
      }
      ul {
        display: flex;
        gap: 2rem;
        justify-content: center;
      }
    }
  }
}

@media (max-width: 992px) {
  #footerContainer {
    .footer {
      padding: 6.4rem 0rem 4.8rem 0rem;

      .upFooter {
        @include flexBox(column, space-between, center);
        gap: 4.8rem;

        .leftSide {
          align-self: flex-start;
          > div {
            margin-bottom: 2.4rem;
          }
        }
        .rightSide {
          @include flexBox(column, center, center);
          gap: 3.2rem;
          .nav {
            ul {
              flex-wrap: wrap;
              justify-content: center;
              gap: 2.4rem;
            }
          }
        }
      }

      .copyRight {
        @include flexBox(column, center, center);
        gap: 2.4rem;
        p {
          order: 2;
          text-align: center;
        }
        ul {
          order: 1;
          font-size: 1.6rem;
        }
      }
    }
  }
}
